body{
	background-color: #EEEEEE;
	text-shadow: 0 0 0.1em rgba(0,0,0,1);
	color: #007700;
}

.container{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header{
	text-align: center;
}

#title{
	font-size: 2em;
	border-bottom: 1px solid #007700;
}

nav ul{
	display: table;
	margin: 0 auto;
	padding: 0 ;
	width: 90%;
	font-size: 0.8em;
}

nav li{
	display: table-cell;
	min-width: 50px;
}

nav a{
	display: block;
	width: 100%;
	text-decoration: none;
	padding-bottom: 5px;
	color: #007700;
}

nav a.current{
	border-bottom: 3px solid #007700;
}

nav a:hover{
	color: #E7DA66;
	border-bottom: 3px solid #F0E475;
}

main{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
}

.paragraph{
	margin-top: 100px;
}

.contents{
	color: 	#004400;
	padding-left: 30px;
}

.skill{
	text-indent: 2em;
}

h4:first-letter {
	font-size: 1.5em;
}

.contents a{
	color: 	#004400;
}

.contents a:hover{
	color: #E7DA66;
}

img{
	height: 200px;
	width: 350px;
}

.send{
	text-align: center;
}

textarea{
	width: 500px;
	height: 200px;
}

#sendmail{
	display: block;
	width: 120px;
	height: 40px;
	margin: auto;
	border-radius: 0.3rem;
	background-color: #007700;
	color: #fff;
}

#sendmail:hover{
	background-color: #99CC66;
}

footer{
	display: flex;
	margin-top: auto;
	justify-content: flex-end;
	border-top: 1px solid #333;
}

/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
  background: #fff;
  text-align: left;
  padding: 30px;
}